/* Build Tibetan font styles */
body:lang(bo), button:lang(bo),
input:lang(bo),
select:lang(bo),
optgroup:lang(bo),
textarea:lang(bo),
html:lang(bo) .wp-embed .wp-embed-excerpt,
html:lang(bo) #wpadminbar *,
html:lang(bo) .wp-embed {
	font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Jomolhari", sans-serif;
	letter-spacing: normal;
}