/* Build Tibetan font styles */
body:lang(bo), button:lang(bo),
input:lang(bo),
select:lang(bo),
optgroup:lang(bo),
textarea:lang(bo),
html:lang(bo) .wp-embed .wp-embed-excerpt,
html:lang(bo) #wpadminbar *,
html:lang(bo) .wp-embed {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Kokonor", "Kailasa", "Tibetan Machine Uni", "Noto Sans Tibetan", "Jomolhari", "Microsoft Himalaya", sans-serif;
	letter-spacing: normal;
}