/* Build Tibetan font styles */
body:lang(bo), button:lang(bo),
input:lang(bo),
select:lang(bo),
optgroup:lang(bo),
textarea:lang(bo),
html:lang(bo) .wp-embed .wp-embed-excerpt,
html:lang(bo) #wpadminbar *,
html:lang(bo) .wp-embed {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, Kokonor, "Tibetan Machine Uni", Jomolhari, serif;
	letter-spacing: normal;
}