@media (min-width: 992px) {
	/* tibetan */
	@font-face {
		font-family: 'TibetanUI';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: local("Monlam Uni Sans Serif"), url('../fonts/TibetanUI.woff2') format('woff2');
		unicode-range: U+0F00-0FFF; /* Tibetan glyphs */
	}
}

/* Build Tibetan font styles */
body:lang(bo), button:lang(bo),
input:lang(bo),
select:lang(bo),
optgroup:lang(bo),
textarea:lang(bo),
html:lang(bo) .wp-embed .wp-embed-excerpt,
html:lang(bo) #wpadminbar *,
html:lang(bo) .wp-embed {
	font-family: -apple-system,BlinkMacSystemFont,Kokonor,TibetanUI,sans-serif
}