/* tibetan */
@font-face {
	font-family: 'Jomolhari';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Kailasa Regular'), local('Jomolhari Regular'), local('Jomolhari-Regular'), url(https://fonts.gstatic.com/s/jomolhari/v1/EvONzA1M1Iw_CBd2hsQyBVgYCK1YNzvX.woff2) format('woff2');
	unicode-range: U+0F00-0FFF, U+200C-200D, U+25CC;
}
/* latin */
@font-face {
	font-family: 'Jomolhari';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('-apple-system'), local('BlinkMacSystemFont'), local('Segoe UI'), local('Roboto'), local('Oxygen-Sans'), local('Ubuntu'), local('Cantarell'), local('Helvetica Neue'), url(https://fonts.gstatic.com/s/jomolhari/v1/EvONzA1M1Iw_CBd2hsQyEFgY.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Build Tibetan font styles */
body:lang(bo), button:lang(bo),
input:lang(bo),
select:lang(bo),
optgroup:lang(bo),
textarea:lang(bo),
html:lang(bo) .wp-embed .wp-embed-excerpt {
	font-family: Jomolhari, sans-serif
}
html:lang(bo) #wpadminbar *,
html:lang(bo) .wp-embed {
	font-family: Jomolhari, sans-serif
}