/*---------------------------------------------------------------------------------
	Editor styles for Tibetan
---------------------------------------------------------------------------------*/

body, button, input, select, textarea,
#wpadminbar *{
	font-family: "Noto Sans Tibetan","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Tibetan */
html[lang="bo"] .wp-block * {
  font-family: "Noto Sans Tibetan","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
html[lang="bo"] .wp-block .mce-toolbar .mce-ico {
  font-family: dashicons !important;
}