/*---------------------------------------------------------------------------------
	Editor styles for Tibetan
---------------------------------------------------------------------------------*/
@import url("notosanstibetan.css");
/* Tibetan */
html[lang="bo"] *,
html[lang="bo"] #wpadminbar *,
html[lang="bo"] .wp-editor-container textarea.wp-editor-area,
html[lang="bo"] .media-frame input[type=email], 
html[lang="bo"] .media-frame input[type=number], 
html[lang="bo"] .media-frame input[type=password], 
html[lang="bo"] .media-frame input[type=search], 
html[lang="bo"] .media-frame input[type=text], 
html[lang="bo"] .media-frame input[type=url], 
html[lang="bo"] .media-frame select, 
html[lang="bo"] .media-frame textarea {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue","Noto Sans Tibetan",sans-serif;
}
html[lang="bo"] .dashicons,
html[lang="bo"] .dashicons-before:before {
	font-family: dashicons;
}
html[lang="bo"] .wp-block * {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue","Noto Sans Tibetan",sans-serif !important;
}
/* Make sure our non-latin font overrides don't overwrite the iconfont used in the classic editor toolbar */
html[lang="bo"] .wp-block[data-type="core/freeform"] .mce-btn i {
  font-family: dashicons !important;
}